.profile-form-card-container {
    background-color: var(--orange);
    color: var(--white);
    padding: 20px 15px;
    border-radius: 7px;
    margin: 10px;
    width: 35%;
    height: 200px;
    overflow-y: scroll;
}

.profile-form-card-container h2 {
    font-weight: var(--secondary-font);
    margin: 0px;
}

.profile-form-card-container p {
    font-weight: var(--tertiary-font);
    margin: 10px 0px;
    overflow-wrap: anywhere;
}

.profile-form-card-container ul li {
    overflow-wrap: anywhere;
}

.profile-form-wk-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    border: none;
    background-color: var(--white);
    color: var(--orange);
    /* border-radius: 100%; */
}