.resume-container {
    background-color: var(--orange);
    color: var(--white);
    padding: 20px 10px;
    font-family: var(--secondary-font);
}

.resume-container h1 {
    text-align: center;
    margin: 25px 0px;
}

.resume-work-experience-container, .resume-education-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 10px 0px;
    
}

.resume-education-title, .resume-work-experience-title {
    font-family: var(--tertiary-font);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    color: var(--orange);
    padding: 7px 17px;
    border-radius: 10px;
}

.resume-education-title h2, .resume-work-experience-title h2 {
    margin: 0px;
}

.resume-education-information, .resume-work-experience-information {
    width: 85%;
    margin: 50px 0px;
}

.resume-information-item {
    margin: 27px 0px;
    border-bottom: 1px solid white;
}

.resume-information-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 100%;
}

.resume-status-line {
    position: absolute;
    top: 0;
    left: 50px;
    background-color: var(--white);
    width: 3px;
    height: calc(100% + 30px);
}

@media only screen and (max-width: 600px){
    .resume-status-line {
        left: 15px;
    }
    .resume-information-icon {
        left: -5px;
    }
}

@media only screen and (max-width: 300px){
    .resume-education-information, .resume-work-experience-information {
        width: 82%;
    }
}